body {
  background-color: #041C32;
}

.nav {
  background-color: #064663;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.content {
    margin-top: 50px;
}


.im_m {
  align-items: center;
  padding: 10%;
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navtext {
  color: goldenrod;
}

form {
  padding: 20px 25px;
  position: relative;
  margin: 25px;
  display: block;

}

.custom-btn {
  width: 210px;
  height: 40px;
  color: #f9f4f4;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background: rgb(210, 211, 226);
  background: linear-gradient(0deg, rgb(43, 44, 64) 0%, rgb(31, 32, 51)100%);
  border: none;
}

.btn-1:hover {
  background: rgb(19, 76, 4);
  background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
}

.drop {

  text-align: center;
  display: inline-block;
  overflow: hidden;
  height: 42px;
  width: 190px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  background: #064663;
  color: aliceblue;
  border: 3px solid;
  border-color: rgb(255, 0, 0) #080707 rgb(217, 0, 0);
  border-radius: 10px;
}


.seven h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 1px;
  background-color: #f8f8f8;
}

.eight h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.eight h1:after,
.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 1px;
  background-color: #f8f8f8;
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #064663;
  padding: 40px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}




/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* ALL MOVIES FETCHED */
.movielist {
  color: aliceblue;
  text-align: center;
  padding: 0px;
}

.desc {
  text-align: cent;
  bottom: 15;
  right: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px;
}

.border_ {
  border: #c50000 solid 1px;
  padding: 20px;
}

.redhr {
  border: 3px solid #ffffff;
}

.con {
  color: white;
}

.imgborder {
  border: purple solid 3px;
  padding: 2px;
}

.headpad {
  border: purple solid 3px;
  padding: 20px;
}

.git {
  display: flex;
  margin: 40px;
  padding: 12px 22px;
  color: #f3eaf0;
  border: 0 none;
  border-radius: 36px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  background-color: #064663;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.logo {
  text-align: center;
}

.description {
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.genre {
  color: gold;
}

.movienm {
  color: #e91e63;
  text-decoration: none;
}

.docs {
  text-decoration: none;
  color: inherit;
}

.padrow {
  padding-left: 30px;
  padding-right: 30px;
}
